---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import ScrollTraversal from '../components/islands/ScrollTraversal';
import ProjectList from '../components/ProjectList.astro';
---
<Base>
  <main>
    <Hero />
    <ScrollTraversal client:load />
    <ProjectList />
  </main>
</Base>
